.icon{
	margin-bottom:10px;
	}
.word p{
	color:rgb(96,190,174);
	}
.gr{
	background-color:rgb(239,248,247);
	border-left-color:rgb(217,239,236);
	margin-bottom:10px;
	}
.gr h3{
	color:rgb(96,190,174);
	font-size:2rem;
	}
.gr p{
	color:rgb(96,190,174);
	font-size:1rem;
	}
.gre{
	padding:10px;
	}
.title h3{
	color:rgb(96,190,174);
	font-size:1.8rem;
	}
.time{
	color:#AAA;
	}
body{
	font-size:100%
	}
@media screen and (max-width: 480px){
	.green, #friend, #for{
		display:none;
		}
	.wrapper{
		width:72.92%;
		margin:auto;
		margin-top:10px;
		}
	.navbar{
		display:block;
		position:relative;
		height:60px;
		}
	.nav{
		position:absolute;
		left:50%;
		top:0;
		margin-left:-120px;
		width:100%;
		
	}
	.icon{
		position:relative;
		left:50%;
		width:60px;
		display:block;
		top:50px;
		margin-left:-30px;
	}
	.word{
		display:inline-block;
		vertical-align:central;
		width:12%;
	}
	.word p{
		font-size:1.4rem;
		margin:auto;
		}
	.blank{
		display:inline-block;
		vertical-align:top;
		width:10px;
		}
	.imgone{
		width:100%;
		display:block; 
		margin:auto;
		}
	.wh p{
		font-size:1rem;
		line-height:1rem;
		}
	.wh{
		margin:auto;
		}
	.bl p{
		font-size:1rem;
		line-height:1rem;
		color:white;
		}
	.bl{
		margin:auto;
		}
	.black{
		background-color:black;
		}
	.black, .white{
		display:block;
		padding:10px;
		padding-top:15px;
		height:40px;
		}
	.archives{
		margin-top:10px;
		}
	.artic{
		margin-bottom:20px;
		}
	.imgtwo{
		width:100%;
		display:block; 
		margin:auto;
		}
}
		
@media screen and (min-width: 481px) and (max-width: 768px){
	.green, #friend, #for{
		display:none;
		}
	.wrapper{
		width:62.5%;
		margin:auto;
		margin-top:20px;
		}
	.navbar{
		position:relative;
		height:40px;
		}
	.nav{
		position:absolute;
		left:20%;
		top:0;
		width:80%;
	}
	.icon{
		position:absolute;
		left:0;
		width:60px;
		top:10px;
	}
	.word{
		display:inline-block;
		vertical-align:central;
		width:15%;
	}
	.word p{
		font-size:1.7rem;
		margin:auto;
		}
	.blank{
		display:inline-block;
		vertical-align:central;
		width:10px;
		}
	.imgone{
		width:100%;
		display:block; 
		margin:auto;
		}
	.wh p{
		font-size:1rem;
		line-height:1rem;
		}
	.wh{
		margin:auto;
		}
	.bl p{
		font-size:1rem;
		line-height:1rem;
		color:white;
		}
	.bl{
		margin:auto;
		}
	.black{
		background-color:black;
		}
	.black, .white{
		display:block;
		padding:10px;
		padding-top:15px;
		height:40px;
		text-align:start;
		}
	.archives{
		margin-top:20px;
		}
	.artic{
		width:48%;
		display:inline-block;
		margin-bottom:20px;
		margin-left:5px;
		}
	.imgtwo{
		width:100%;
		top:0;
		}
	#11{position:relative;}
	#111{
		position:absolute;
		top:0px;
	}
	#112{
		position:absolute;
		top:0;
	}
	#12{position:relative;}
	#121{
		position:absolute;
		top:0;
	}
	#13{position:relative;}
	#131{
		position:absolute;
		top:0;
	}
	#14{position:relative;}
	#141{
		position:absolute;
		top:0;
	}
	}
@media screen and (min-width: 768px) and (max-width: 991px){
	.green p, #friend, #for{
		display:none;
		}
	.wrapper{
		width:77.5%;
		margin:auto;
		margin-top:30px;
		}
	.navbar{
		position:relative;
		height:70px;
		}
	.nav{
		position:absolute;
		right:0;
		top:20px;
		width:70%;
	}
	.nav p{
		text-align:center;
		}
	.icon{
		position:absolute;
		left:0;
		width:100px;
		top:10px;
	}
	.word{
		display:inline-block;
		vertical-align:top;
		width:15%;
	}
	.word p{
		font-size:1.7rem;
		margin:auto;
		}
	.blank{
		display:inline-block;
		vertical-align:central;
		width:10px;
		}
	.imgone{
		width:100%;
		display:block; 
		margin:auto;
		position:relative;
		}
	.wh p{
		font-size:2.2rem;
		line-height:30px;
		}
	.wh{
		margin:auto;
		}
	.bl p{
		font-size:2.2rem;
		line-height:30px;
		color:white;
		}
	.bl{
		margin:auto;
		}
	.black{
		background-color:black;
		position:relative;
		top:-200px;
		width:90%;
		left:67px;
		}
	.white{
		background-color:white;
		position:relative;
		top:-200px;
		width:30%;
		left:480px;
		}
	.black, .white{
		padding:10px;
		height:50px;
		}
	.archives{
		}
	.artic{
		width:22%;
		display:inline-block;
		margin-bottom:20px;
		margin-left:10px;
		}
	.imgtwo{
		width:100%;
		top:0;
		}
	.green{
		display:block;
		}
	.gr{
		width:24%;
		display:inline-block;
		border-right:5px;
		border-right-color:rgb(96,190,174);
		text-align:center;
	}
	}
@media screen and (min-width: 991px){
	.wrapper{
		max-width:991px;
		margin:auto;
		margin-top:50px;
		}
	.navbar{
		width:20%;
		position:relative;
		height:570px;
		}
	.nav{
		position:absolute;
		right:0;
		top:70px;
		width:100%;
	}
	.icon{
		position:absolute;
		left:0;
		width:100px;
		top:10px;
	}
	.word{
		display:block;
		width:100%;
		left:0;
		margin-bottom:20px;
	}
	.word p{
		font-size:2rem;
		margin:auto;
		}
	.blank{
		display:none;
		}
	#friend p{
		color:rgb(87,87,87);
		font-size:1rem;
		}
	#for p{
		color:rgb(87,87,87);
		font-size:0.8rem;
		}
	#friend, #for{
		width:50%;
		}
	.imgnew{
		height:10%;	
	}
	.imgnew, .green, .archives{
		width:80%;
		position:relative;
		left:20%;
		top:-580px;
		}
	.imgone{
		width:100%;
		display:block; 
		margin:auto;
		position:relative;
		}
	.wh p{
		font-size:2.2rem;
		line-height:30px;
		padding:10px;
		}
	.wh{
		margin:auto;
		}
	.bl p{
		font-size:2.2rem;
		line-height:30px;
		color:white;
		padding:10px;
		}
	.bl{
		margin:auto;
		}
	.black{
		background-color:black;
		position:relative;
		top:-820px;
		width:65%;
		left:347px;
		}
	.white{
		background-color:white;
		position:relative;
		top:-820px;
		width:23%;
		left:763px;
		}
	.black, .white{

		height:50px;
		}
	.archives{
		display:block;
		max-height:500px;
		}
	.artic{
		width:22%;
		position:relative;
		display:inline-block;
		margin-bottom:20px;
		margin-left:10px;
	    align-items:stretch;
		}
	/*	
	.artic1{
		position:absolute;
		display:block;
		margin-bottom:20px;
		margin-left:10px;
		width:170px;
		}
	.artic2{
		position:absolute;
		display:block;
		left:205px;
		width:170px;
		}
	.artic3{
		position:absolute;
		display:block;
		left:395px;
		width:170px;
		}
	.artic4{
		position:absolute;
		display:block;
		left:585px;
		width:170px;
		} */
	.imgtwo{
		width:100%;
		}
	#11 {
		position:absolute;
		margin-left:10px;
		}
	#12 {
		position:absolute;
		
		}
	#13{
		margin-left:200px;
		}
	#14{
		margin-left:200px;
		}
	.green{
		display:block;
		}
	.gr{
		width:24%;
		display:inline-block;
		border-right:0.5px;
		border-right-color:rgb(96,190,174);
		text-align:center;
	}
	}